@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.head-wrapper {
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.bg-filter {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 1px;
    height: 100%;
    width: 100%;
    background-color: #FF5722;
    z-index: 1;
    opacity: 0.75;
}

.title-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Bangers', cursive;
    font-size: 10vw;
    padding-left: 30px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.flowers {
    color: orange;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Bangers', cursive;
    font-size: 5vw;
    padding-top: 30px;
    padding-left: 30px;
}

.arms {
    display: block;
    
    
}

.author {
    margin-top: 50px;
    margin-left: 20px;
}


.teacher {
    margin-left: 20px;
}

strong {
    text-align: left;
    font-size: 15px;
}

